body {
    font-family: sans-serif;
}


#container {
    display: flex;
    height: 100%;
}


#controls {
    flex: 0 0 200px;
    background-color: #F5F5F5;
}


#main {
    flex: 1;
    height: 100%;
}


#tooltip {
  font-size: 14px;
}
